.App-header {
  margin: 50px 0;
}

.image-styling {
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

.App {
  text-align: center;
  font-family:  "Courier New";
  font-weight: 100;
}

#padding-top {
  padding-top: 50px;
}