.App-header {
  margin: 50px 0;
}

.image-styling {
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

.App {
  text-align: center;
  font-family:  "Trebuchet MS";
  font-weight: 100;
}

#padding-top {
  padding-top: 50px;
}

.card-body {
  width: 18rem;
}

.italics {
  font-style: italic;
}

.SearchResults{
  display: block;
  padding-top: 25px;
}

.card {
  border-radius: 6px;
  text-align: center;
  box-shadow: 0 5px 5px rgb(0 0 0/ 10%);
}

.card-body {
  width: 100%;
}

.badge{
  color: white;
  background-color: rgb(100 100 100);
  margin: 10px;
}

.strong {
  font-weight: bold;
}


