
.formClass {
  width: 15%;
  margin: 0 auto;
  padding-top: 20p;
}

.image-styling {
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

.App {
  text-align: center;
  font-family:  "Trebuchet MS";
  font-weight: 100;
  background-color: #f5f4eb ;
}

.App-header {
  margin-top: 10px;
}

#padding-top {
  padding-top: 50px;
}

.card-body {
  width: 18rem;
}

.italics {
  font-style: italic;
}

.SearchResults{
  display: block;
  padding-top: 25px;
}

.typo {
  font-weight: bolder;
  font-size: 300%;
  font-family: "Apple Chancery";
  color :#434e3c;
  padding-top: 50px;

}

.card {
  border-radius: 30px;
  text-align: center;
  background-color:#893667;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-body {
  width: 100%;
}

.badge{
  color: white;
  background-color: rgb(136, 124, 101);
  margin: 10px;
}


.strong {
  font-weight: bold;
}

.img-fluid {
  width:50%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;

}


